html, body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  position: relative;
}

.backgroud {
  width: 1024px;
  height: 243px;
  background-image: url('../images/bg.png');
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.img1 {
  width: 166px;
  height: 171px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.img1-body, .img1-head, .img1-ipad {
  position: absolute;
  bottom: 0;
  transition: .4s;
}

.img1-ipad {
  bottom: -15px;
}

.img1:hover .img1-head {
  animation: .5s img1-head infinite;
}

.img1:hover .img1-body {
  bottom: -4px;
}

.img1:hover .img1-ipad {
  transform: rotate(-7deg);
}

@keyframes img1-head {
  50% {
    transform: rotate(3deg);
    bottom: -3px;
  }
  100% {
    bottom: 0;
  }
}

.img2 {
  width: 246px;
  height: 226px;
  position: absolute;
  bottom: 0;
  right: 20px;
  overflow: hidden;
}

.img2-body {
  position: absolute;
}

.img2-right-hand, .img2-left-hand {
  position: absolute;
  bottom: -20px;
}

.img2-left-hand {
  right: 0;
}
