html, body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  position: relative;
  background: url('../images/sky.jpg') no-repeat 0 100%;
}

.backgroud {
  width: 1024px;
  height: 243px;
  background-image: url('../images/bg.png');
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  overflow: hidden;
}

.img1 {
  width: 166px;
  height: 171px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.img1-body, .img1-head, .img1-ipad {
  position: absolute;
  bottom: 0;
  transition: .4s;
}

.img1-ipad {
  bottom: -15px;
}

.img1:hover .img1-head {
  animation: .5s img1-head infinite;
}

.img1:hover .img1-body {
  bottom: -4px;
}

.img1:hover .img1-ipad {
  transform: rotate(-7deg);
}

@keyframes img1-head {
  50% {
    transform: rotate(3deg);
    bottom: -3px;
  }
  100% {
    bottom: 0;
  }
}

.img2 {
  width: 246px;
  height: 226px;
  position: absolute;
  bottom: 0;
  right: 20px;
  overflow: hidden;
}

.img2-body {
  position: absolute;
  transition: .6s;
}

.img2-right-hand, .img2-left-hand {
  position: absolute;
  bottom: -20px;
  transition:.6s;
}

.img2-left-hand {
  right: 0;
}

.img2:hover .img2-body {
  transform: rotate(7deg) translateY(10px);
}

.img2:hover .img2-right-hand {
  transform: rotate(9deg);
}

.img2:hover .img2-left-hand {
  bottom: -10px;
}

.laptop {
  position: absolute;
  bottom: 22px;
  right: 435px;
  animation: 5s laptop infinite;
}

@keyframes laptop {
  90% {
    transform: rotate(5deg);
  }
  95% {
    transform: rotate(-5deg);
  }
  97% {
    transform: rotate(5deg);
  }
  98% {
    transform: rotate(-5deg);
  }
}

.blinky {
  position: absolute;
  bottom: 10px;
  left: 300px;
  transition: .5s;
  animation: 10s blinky infinite;
  transform: scale(1.2);
}

.blinky:hover {
  border-right: 5px solid red;
}

@keyframes blinky {
  5% {
    transform: translateX(15px) scale(1);
  }

  10% {
    transform: translateX(20px) scale(1.1);
  }

  15% {
    transform: translateX(25px) scale(1);
  }

  20% {
    transform: translateX(30px) scale(1.1);
  }

  25% {
    transform: translateX(35px) scale(1);
  }

  30% {
    transform: translateX(40px) scale(1.1);
  }

  40% {
    transform: translateX(50px) scale(1);
  }

  50% {
    transform: translateX(60px) scale(1.1);
  }

  60% {
    transform: translateX(70px) scale(1);
  }

  70% {
    transform: translateX(80px) scale(1.1);
  }

  80% {
    transform: translateX(90px) scale(1);
  }

  90% {
    transform: translateX(60px) scale(1.1);
  }
}

.l4c-flag {
  position: absolute;
  bottom: 35px;
  left: 350px;
  transition: .5s;
}

.l4c-flag:hover {
  transform: scaleY(1.2) translateY(-10px);
}

.bulb {
  position: absolute;
  bottom: 10px;
  left: 500px;
  transition: .5s;
}

.bulb:hover {
  transform: scale(1.4) rotate(-15deg);
}

.pinterest-flag {
  position: absolute;
  bottom: -7px;
  left: 650px;
  transform: scale(.9);
  transition: .5s;
}

.pinterest-flag:hover {
  transform: rotate(10deg) scale(1.1);
}

.plus-flag {
  position: absolute;
  left: 535px;
  bottom: 24px;
  transition: .5s;
}

.plus-flag:hover {
  transform: scaleY(1.3) translateY(-5px);
}

.apple {
  position: absolute;
  bottom: 8px;
  right: 261px;
  transition: .3s;
}

.apple:hover {
  transform: scale(1.5) rotate(15deg);
}

.facebook-flag {
  position: absolute;
  bottom: 42px;
  right: 380px;
  transition: .5s;
}

.facebook-flag:hover {
  transform: scaleY(1.2) translateY(-10px);
}

.twitter-folder {
  position: absolute;
  bottom: 0;
  right: 275px;
  transition: .5s;
}

.twitter-folder:hover {
  transform: rotate(10deg) scale(1.5);
}

.linkedin-flag {
  position: absolute;
  bottom: 60px;
  right: 235px;
}

.linkedin-flag:hover {
  transform: scaleY(1.2) translateY(-10px);
}

.android {
  position: absolute;
  bottom: 45px;
  left: 460px;
  animation: 10s android infinite;
  transition: 1s;
}

.android>img {
  transition: 1s;
}

@keyframes android {
  60% {
    transform: translateY(0px);
  }
  70% {
    transform: translateY(50px);
  }
  90% {
    transform: translateY(50px);
  }
}

.android:hover {
  text-align: right;
}

.android:hover>img {
  border-left: 5px solid #33FF00;
}

.whale {
  position: absolute;
	left:670px;
  bottom: 91px;
	transition:0.5s;
  animation:15s whale;
}

@keyframes whale {
	0%{
    bottom:500px;
    transform:scale(1.5);
  }
	20%{
    bottom:300px;
    transform:rotate(20deg) scale(1.3);
  }
	85%{
    transform:rotate(-15deg);
  }
	100%{
    bottom:91px;
  }
}
