html, body {
  height: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  background-image: url('../images/background.jpg');
  background-size: 100%;
  transition-duration: 2s;
  transition-property: background-size;
  display: flex;
  justify-content: center;
  align-items: center;
}

body:hover {
  border: 5px solid red;
  background-size: 120%;
}

.caja {
  background: rgba(255, 255, 255, 0.8);
  width: 250px;
  height: 250px;
  visibility: hidden;
  transition: .2s;
  transform: rotate(-45deg);
}

body:hover > .caja {
  visibility: visible;
  transform: rotate(0deg);
}
