html, body {
  height: 100%;
  margin: 0;
}

.container {
  height: 100%;
  position: relative;
}

.backgroud {
  width: 1024px;
  height: 243px;
  background-image: url('../images/bg.png');
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.img1 {
  width: 166px;
  height: 171px;
  position: absolute;
  bottom: 0;
  overflow: hidden;
}

.img1-body, .img1-head, .img1-ipad {
  position: absolute;
  bottom: 0;
}

.img1-ipad {
  bottom: -15px;
}
