html, body {
  margin: 0;
  height: 100%;
}

h1, p {
  margin: 0;
  padding-bottom: 20px;
}

.header {
  background: red;
}

.content {
  background: peru;
  min-height: calc(100vh - 50px);
}

.footer {
  height: 50px;
  background: orange;
}
