body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.header {
  background: #273B47;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 10px;
}

.header figure {
  margin: 0;
  padding-top: 10px;
}

.header img {
  width: 100px;
}

.menu {
  display: inline-block;
  margin: 0 10px;
}

.menu ul {
  margin: 0;
}

.menu li {
  display: inline-block;
  padding: 10px 0;
  border-top: 5px solid #273B47;
}

.menu li:hover {
  border-top: 5px solid #7DCD40;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0 10px;
}

.header .button {
  background: #FF4842;
  color: white;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  padding: 8px 15px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  border-radius: 5%;
  box-shadow: inset 0px -3px 0px rgba(208,39,42, 1);
}

.header .button:hover {
  background: #E62C30;
}

.separator {
  border-right: 1px solid white;
}

.contenedor {
  max-width: 1100px;
  margin: auto;
}

.busqueda {
  padding: 5px 0;
  display: flex;
  justify-content: flex-end;
}

.busqueda input {
  font-family: 'Lato', sans-serif;
  border-radius: 5%;
  padding: 8px;
  border: none;
  font-size: 16px;
}

.busqueda button {
  background: #333333;
  color: white;
  border: 0;
  border-radius: 10%;
  padding: 8px 10px ;
  cursor: pointer;
  font-size: 16px;
  margin-left: 5px;
}

.background-portada {
  background: #EFEFEF;
}

.portada {
  height: 600px;
  background-image: url('https://picsum.photos/800/600/?random=16');
  background-size: cover;
  position: relative;
}

.portada .recuadro {
  background: rgba(255, 255, 255, 0.8);
  width: 500px;
  height: 150px;
  position: absolute;
  left: 20px;
  bottom: 40px;
  padding: 20px;
  color: #5E5E5E;
}

.portada .recuadro h2 {
  margin: 0;
  font-size: 31px;
}

.portada .recuadro .subrecuadro {
  border-top: 1px solid #5E5E5E;
  margin-top: 25px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portada .recuadro .subrecuadro .icon {
  border-radius: 50%;
  font-size: 30px;
  background: white;
  color: #C4C4C4;
  margin-right: 10px;
}

.portada .recuadro .subrecuadro .user {
  display: flex;
  align-items: center;
}
